APP_SECRET=replace-with-random-secret
POSTGRES_USER=semantic
POSTGRES_PASSWORD=replace-with-random-password
POSTGRES_DB=semantic
ELASTICSEARCH_PASSWORD=replace-with-elasticsearch-password
ELASTICSEARCH_BIND_IP=192.168.1.105
ELASTICSEARCH_INDEX=products_v1
ELASTICSEARCH_ALIAS=products_current
EMBEDDING_MODEL=intfloat/multilingual-e5-small
# Trendyol test option: Trendyol/TY-ecomm-embed-multilingual-base-v1.2.0
# EMBEDDING_REVISION=760f1827952873f02336a797c6f8ad8bc9789778
MODEL_FILE=onnx/model.onnx
